<div class="container">
  <div class="col-lg-4 text-center">
    <h2>Available Players</h2>
      <table id="available-players" class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">User Id</th>
          </tr>
        </thead>
          <tbody>
            <% @players.each do |player| %>
              <tr class="player">
                <td><%= player.name %></td>
                <td class="id"><%= player.id %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>
  <div class="col-lg-4 col-lg-offset-2 text-center">
    <h2>New Team</h2>
      <table id="new-team" class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">User Id</th>
          </tr>
        </thead>
          <tbody>
            <!-- <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr> -->

          </tbody>
        </table>
    </div>
</div>
